<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Agregar Datos<small>Necesitamos saber mas de ti</small></h3>
	</div>
	<div class="panel-body">
		<%= render 'actualizacion'%>
	</div>
</div>
