<div class="container">
	<div class="page-header">
	  <h2>Autorizar nuevo usuario</h2>
	</div>
	<%= form_tag({controller: "usuario", action: "autorizar"} , method: "post") do %>
		<%= render 'cambio_datos'%>
	<% end%>
</div>
