<% @pacientes.each do |t|%>
	<div>
		<%= link_to t.nombre+" "+t.apellido, controller: "paciente", action: "visualizar", correo: t.correo%>
		<br />
		Patologia: <%= t.patologia.nombre%>
		<br />
		Ultima Cita realizada: <%= t.cita_medicas.where(["generico = ? and estado = ?", false, 2]).last%>
		<br />
		<% if @medico or @paramedico%>
			<%= link_to "Nueva consulta", controller: "cita_medica", action: "efectuar", paciente: t.correo%>
		<% end%>
	</div>
	<br />
	<br />
<%end%>