<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Actualizar paciente</h3>
	</div>
	<div class="panel-body">
		<%= form_tag({controller: "paciente", action: "actualizar", paciente: params[:paciente]}, id: "paciente_actualizar",  multipart: true , method: "post", onsubmit: "return validacionActualizacion()") do %>
			<%= render 'agregacion'%>
		<% end%>
	</div>
</div>
