<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Agregar paciente</h3>
	</div>
	<div class="panel-body">
		<%= form_tag({controller: "paciente", action: "agregar"}, id: "paciente_agregar",  multipart: true , method: "post", onsubmit: "return validacionAgregar()") do %>
			<%= render 'agregacion'%>
		<% end%>
	</div>
</div>
