<h1>Horario de <%= @nombre%></h1>
<% @lista.each do |t|%>
	<br />
	<%= t%>
<% end%>
<br />
<% if @admin%>
	<%= link_to "Modificar horario", action: "modificar", controller: "horario", correo: @correo%>
<% end%>
<br />
<%= @mensaje%>
