<%if @pacientesAcorde%>
	<% @pacientesAcorde.each do |p|%>
		<div>
			<%= link_to p.nombre+" "+p.apellido, controller: "paciente", action: "visualizar", correo: p.correo%>
			<br />
			<%if p.cita_medicas.last%>
				Fecha de la ultima cita registrada: <%=p.cita_medicas.last.fecha%>
			<% else%>
				Fecha de la ultima cita registrada: (Sin registro)
			<% end%>
			<br />
			<%= link_to "Nueva consulta" , controller: "cita_medica", action: "efectuar", paciente: p.correo%>
		</div>
	<% end%>
<% end%>
