<li><%=link_to "Agregar datos", {controller: "usuario", action: "agregar"} %></li>
<li><%= link_to "Cerrar Sesion", destroy_cuenta_usuario_session_path, method: :delete, id: "sign_out" ,class: "list-group-item list-group-item-danger"%></li>
