<% if @citas%>
	<h3>Citas</h3>
	<% @citas.each do |t|%>
		<li>
			Paciente: <%= t.pacientes.nombre+' '+t.pacientes.apellido%>
	  		<br />
			Direccion: <%= t.pacientes.direccion%>
	  		<br />
	  		Fecha de vencimiento de la prescripcion: <%= t.fechaFin%>
	  		<br />
	  		<% if t.fechaFin.to_date<=Date.current%>
	    		Debe realizar una visita al paciente
	    	<% else%>
	    		Aun no es momento de una visita
	  		<% end%>
	  		<br />
	  		<%= link_to "Nueva visita domiciliaria", controller: "cita_medica", action: "efectuar", paciente: t.pacientes.correo%>
	  		<br />
		</li>
	<% end%> 
<% end%>