<h1>Menu de paramedico</h1>
<h4>Usuario actual: <%= @nombre%></h4>
<br />
<%= link_to('Cerrar sesion', destroy_cuenta_usuario_session_path, method: :delete)%>
<br />
<%= link_to "Ver pacientes", controller: "paciente" , action: "visualizar"%>
<br />
