<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Encuesta Medica</h3>
	</div>
	<div class="panel-body">
		<strong>INR: </strong>
		<%= @cita.inr_pacientes.first.valorInr%>
	</div>
	<% if @cita.pregunta_cita%>
		<ul class="list-group">
			<% @cita.pregunta_cita.each do |t|%>
				<li class="list-group-item">
					<strong><%= t.pregunta.pregunta.upcase%></strong>
					<% if t.pregunta.tipo%>
						<br />
						<%= t.pregunta.descripcion%> <%= t.comentario%>
					<% end%>
				</li>
			<% end%>
		</ul>
	<% end%>
</div>
