<h1>Menu de administracion</h1>
<h4>Usuario actual: <%= @nombre%></h4>
<%= link_to('Cerrar sesion', destroy_cuenta_usuario_session_path, method: :delete)%>
<div>
	<li>
		<%= link_to "Agregar autorizacion", action: "autorizar", controller: "usuario"%>
	</li>
	<li>
		<%= link_to "Usuarios", action: "visualizar", controller: "usuario"%>
	</li>
</div>
